<h1>Add an Artist</h2>
  <p>Add an Artist here:</p>

  <form action="/artist_collection" method="post">
    <label for="artist_name">Artist</label>
    <input id="artist_name" name="artist_name" type="text">
    <button type="submit">Add Artist</button>
  </form>
