<h1>Welcome to Your CD Collection</h1>
<a href="/collection">See Your CD Collection</a>
<a href="/artist_collection">See the Artists In Your Collection</a>
<a href="/collection/new">Add a New CD</a>
<a href="/artist_collection/new">Add a New Artist</a>
